In [2]:
a=100
a

100

In [3]:
## Declaring and assigning variable

age=32
height=6.1
name="Harsh"
is_Studsent=True

print("age:",age)
print("Height:", height)
print("Name:",name)

age: 32
Height: 6.1
Name: Harsh

In [4]:
## Naming Conventions
## Variable names should be discriptive
## They must start with letter or an'_' and contain letter,numbers and underscores
## variables names are case sensitive

##valid variable name

first_name="Harsh"
last_name="Singh"

In [6]:
##Invalid variablename

# 2age=34

# first-name="harsh"

# @name="harhs"

In [8]:
## case sensitivity

age=32
Age=30
print(age,Age)

32 30

In [10]:
## Understanding variable type
## python is dynamically typed that means the type of a variable is determine at runtime.

age=25 #int
height=6.1 #float
name= "Harsh" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [11]:
## Type Checking and conversion

type(height)

float

In [13]:
age=25
print(type(age))

##type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age='25'

print(type(age))
print(age)

age_int=int(age)
print(type(age_int))

<class 'str'>
25
<class 'int'>

In [16]:
name="Harsh"
int(name)

ValueError: invalid literal for int() with base 10: 'Harsh'

In [19]:
height=6.11
type(height)

float

In [21]:
int(height)

6

In [22]:
float(int(height))

6.0

In [26]:
## Dynamic typing
## python allows the type of var to change as code is execute


var=10 #int
print(var,type(var))

var="hello"
print(var,type(var))


var=3.34
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.34 <class 'float'>

In [28]:
##input

age=int(input("enter the value"))
print(age)

24

In [30]:
##calculator
num1=float(input('enter the value'))
num2=float(input('enter the value'))

sum=num1+num2
mul=num1*num2
div=num1/num2
sub=num1-num2

print("sum:",sum)
print("mul",mul)
print("div:",div)
print('sub:',sub)

sum: 36.0
mul 288.0
div: 2.0
sub: 12.0