In [4]:
## Arthimethic operation
a=30
b=15
add=a+b
sub=a-b
mul=a*b
div=a/b
floor_div=a//b
modulus_result=a%b
expo_result=a**b
print(add,sub,mul,div,floor_div,modulus_result,expo_result)

45 15 450 2.0 2 0 14348907000000000000000

In [5]:
10/5

2.0

In [6]:
21/5

4.2

In [7]:
24//5

4

In [9]:
## Comparision operation
## == equal to operator
a=10
b=10

result=(a==b)
result

True

In [11]:
str1="Harsh"
str2="harsh"

str1==str2

False

In [12]:
## Not equal to
## !=
str1 != str2

True

In [14]:
str3="Harsh"
str4="Harsh"

str3 != str4

False

In [16]:
## greater than

num1=45
num2=55
num1>num2

False

In [17]:
## less than

num1<num2

True

In [21]:
## greater than or equal to

num1=45
num2=44
num1>=num2

True

In [22]:
## less than or equal to
num1<=num2

False

#### logical opeators

In [24]:
## AND , NOT , OR
## in "AND" both value should be true
x=True
y=True
x and y

True

In [27]:
## in OR one need to be true we get true
x=True
y=False
x or y

True

In [32]:
## Not is reverse of boolean

x=True
not x

False