### LOOPS

# for loop

In [2]:
## for loops
## it is used to iterate over a sequence of a number

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
range(1,10,2)

range(1, 10, 2)

In [9]:
## here in range function first element "1"is ehere to start second element "10" tell us where to stop and did not include it. last element "2" tells us about steps between the iteration.
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
## "-1" in this function denotes the step sizethat is decreasing 

for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [14]:
## strings

str="MUJHE KYU TODA"
for i in str:
    print(i)

M
U
J
H
E

K
Y
U

T
O
D
A

In [16]:
## basically for loop is used to traverse

## While loop

In [17]:
## while loop is continue to execute as long as the condition is true

In [21]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [22]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [26]:
## loop control statement

## break
## it exits the loop permaturely

for i in range(10):
    if i==5:
        break
    print(i," ABHI TAK 5 NAHI MILA")

0  ABHI TAK 5 NAHI MILA
1  ABHI TAK 5 NAHI MILA
2  ABHI TAK 5 NAHI MILA
3  ABHI TAK 5 NAHI MILA
4  ABHI TAK 5 NAHI MILA

In [30]:

## continue
## it skips the current itertion and continue with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i,"HUM ODD NUMBER HAI JII !!")

1 HUM ODD NUMBER HAI JII !!
3 HUM ODD NUMBER HAI JII !!
5 HUM ODD NUMBER HAI JII !!
7 HUM ODD NUMBER HAI JII !!
9 HUM ODD NUMBER HAI JII !!

In [35]:
## pass
## it is a null operation , it does nothing.

for i in range(5):
    if i==3:
        print("YAHA YE 3 ki value wahi hai jo tumhari tumhare crush ke nazar me hai USELESS  ",i)
        pass
    print(i)

0
1
2
YAHA YE 3 ki value wahi hai jo tumhari tumhare crush ke nazar me hai USELESS   3
3
4

## Nested loop

In [37]:
## it is loop inside a loop
## jaise ki dabbe me dabba 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

## As here i have range 0,1,2 and for all elements our loop of j will run.

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [39]:
## Examples - calculate the sum of first N natural number using a while and for loop

## while loop

n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count+=1

print(sum)

55

In [41]:
## for loop
n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [46]:
## Example - prime no between 1 and 100.

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97