In [ ]:
## tuples are ordered collection of items that are immutable.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuple=(1,"Hello world",3.14,True)
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [7]:
## accesing tuple element

numbers

(1, 2, 3, 4, 5, 6)

In [10]:

print(numbers[-1])
print(numbers[2])

6
3

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[::1]

(1, 2, 3, 4, 5, 6)

In [14]:
##tuple operations

concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [15]:
mixed_tuple*3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [16]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [21]:
## imutable nature of tuples
## elements can not change once assigned
lst=[1,2,3,4,5]
print(lst)

lst[1]="badal ja bhai"
print(lst)

[1, 2, 3, 4, 5]
[1, 'badal ja bhai', 3, 4, 5]

In [23]:
numbers[1]="tuple is immutable elements can not change"

TypeError: 'tuple' object does not support item assignment

In [28]:
## tuple methods
print(numbers.count(1))
print(numbers.index(3)) ## in which index the "3" element is present

1
2

In [32]:
## packing and unpacking tuple

packed_tuple=1,"hello",3.14 ## if no. is comma separated then it gonn pack it
print(packed_tuple)

(1, 'hello', 3.14)

In [33]:
## how do we unpack it
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [35]:
## use start for unpacking

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [43]:
## Nested Tuple
##nested list
lst=[[1,2,3,4],[5,6,7,8],[1,'hello',34,'d']]
print(lst[0][2]) ## here[0] means index 0 elements that is[1,2,3,4]and if from there if we want 3 its index is 2 then write again [2]

print(lst[0][0:3])

3
[1, 2, 3]

In [46]:
nested_tuple=((1,2,3,4),(5,6,7,8),(1,'hello',34,'d'))
nested_tuple[2][1]

'hello'

In [47]:
## iterating over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 4
5 6 7 8
1 hello 34 d